body, html {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0px;
}
#container {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input {
    width: 300px;
    height: 300px;
}